{{> sidebar title='employees'}}
<div class="content">
    <div class="window">
        <div class="row">
            <div class="col-lg-4">
                <div class="stat card text-white bg-dark mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{count}}</h4>
                        <p class="card-text">Total Employees</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="stat card text-white bg-dark mb-3">
                    <div class="card-body">
                        <h4 class="card-title">${{total}}</h4>
                        <p class="card-text">Total Expense</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="stat card text-white bg-dark mb-3">
                    <div class="card-body">
                        <h4 class="card-title">2</h4>
                        <p class="card-text">Previous Payouts</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="card text-white bg-dark">
                    <h4 class="card-header">Employees</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">ETH Address</th>
                                <th scope="col">Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each employees}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.address}}</td>
                                <td>${{this.salary}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-white bg-dark">
                    <h4 class="card-header">Add Employee</h4>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
                                <small id="emailHelp" class="form-text text-muted">The employee's name</small>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Enter Address">
                                <small id="addressHelp" class="form-text text-muted">The employee's ETH wallet address</small>
                            </div>
                            <div class="form-group">
                                <label for="name">Salary</label>
                                <input type="number" class="form-control" id="salary" aria-describedby="salaryHelp" placeholder="Enter Salary">
                                <small id="salaryHelp" class="form-text text-muted">The employee's salary</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Payment Functionality -->
<script>
$(()=>{
    // $('#pay').click(()=>{
    //     $.ajax({
    //         type: 'POST',
    //         contentType: 'application/json',
    //         data: JSON.stringify({{{json employees}}}),
    //         success: (data) => { console.log(data) },
    //         error: () => { console.log("boo") },
    //         url: '/pay',
    //         cache: false
    //     });
    // });
});
</script>
